<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.green.nowon.service.NoticeService">
 
	<insert id="write">
		insert into notice(no, title, id, content)
		values(#{no},#{title} ,#{id}, #{content})
	</insert>
</mapper>